02 - MF0492_3 - Programación web en el entorno servido - 240h/UF1845 - Acceso a datos en aplicaciones web del entorno servidor - 90h/SQL/EjemplosXML/Alumnos/alumnos.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alumno" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="numero"/>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="apellidos"/>
              <xs:element type="xs:string" name="curso"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>